/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/*navbar*/
.nav {
  background-color: #262626;
  color: #f44336;
}
/*home*/
body {
  position: relative;
  color: #fff;
}
/* Home */
#home {
  padding-top: 50px;
  margin-top: auto;
  height: 750px;
  color: #fff;
  background-color: #000000;
}


.line-1 {
  width: 40em;
  top: 30%;
  margin: 10px auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.profile-img {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 50%;
  margin: 100px 0 30px 0;
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 400ms steps(14) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


/* about*/
#about {
  padding-top: 50px;
  margin-top: auto;
  height: 750px;
  color: #fff;
  background-color: #262626;
}

.text-center {
  margin: 20px;
  overflow: hidden;
}
.about-title {
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 3px;
  border-bottom: 2px solid #F64747;
}

.text-about {
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
.text-about .text-right {
  width: 50%;
  float: right;
  font-size: 25px;
  text-align: justify;
  text-indent: 50px;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  word-spacing: 5px;
  overflow: hidden;
}
.download-cv-container {
  position: relative;
  height: auto;
  width: 100%;
  top: 300px;
}
.download-cv-container .btn-cv {
  background-color: #F64747;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}
.btn-cv:hover,
.btn-cv:active {
  background-color: #F64747;
  text-decoration: none;
  color: #fff;
}
.download-cv-container .social-icon-container {
  text-align: center;
  color: #fff;
}
.social-icon-container {
  margin: 30px;
}
.social-icon-container .s-icon {
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

/* skills container*/


#Skills {
  padding-top: 50px;
  height: 750px;
  color: #fff;
  background-color: #000000;
}
.skills-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;

  font-family: "Kumbh Sans", sans-serif;
}
@keyframes load {
  from {
    width: 0%;
  }
}
.bar {
  background-color: #262626;
  padding: 1.5px;
  border-radius: 20px;
  margin-bottom: 30px;
  /* box-shadow: 10px 10px 5px #262626; */
  font-size: 14px;
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
  content: attr(data-skill);
  background-color: #F64747;
  display: inline-block;
  padding: 5px 0 5px 6px;
  border-radius: inherit;
  animation: load 2s 0s;
  /* -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s; */
}
/* .bar.front::before {
  background-color: #F64747;
}
.bar.back::before {
  background-color: #119adf;
} */

.bar.learning::before {
  width: calc(100% - 10px);
}
.bar.css::before {
  width: calc(90% - 20px);
}
.bar.javascript::before {
  width: calc(80% - 10px);
}
.bar.python::before {
  width: calc(90% - 10px);
}
.bar.django::before {
  width: calc(80% - 10px);
}
.bar.React::before {
  width: calc(50% - 10px);
}
.bar.SQL::before {
  width: calc(90% - 10px);
}
.bar.expert::before {
  width: calc(100% - 10px);
}

/* contact */
#Contact {
  padding-top: 50px;
  height: 750px;
  color: #fff;
  background-color: #262626;
}
.contact-me {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}
.input-field {
  width: 50%;
  padding: 12px 20px;
  border: none;
  color: #c2362c;
  border-bottom: 2px solid #f44336;
  margin: 10px 10px;
  background-color: #262626;
}
.input-field:focus {
  width: 50%;
  padding: 12px 20px;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
#form-btn {
  background-color: #f44336;
  color: #fff;
}
#form-btn:hover,
#form-btn:active {
  background-color: #f44336;
  text-decoration: none;
  color: #fff;
}

textarea {
  resize: none;
}



/*About me container*/

.ml3,
.ml4 {
  font-weight: 900;
  font-size: 3.5em;
}


/* resposive media query */


@media screen and (max-width: 700px) {
/* about container*/
  .text-about .text-right {
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: justify;
    text-indent: 50px;
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Oswald", sans-serif;

    /* overflow: hidden; */
    margin-bottom: 10px;
  }
  .download-cv-container {
    top: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social-icon-container .s-icon {
    color: #fff;
    text-decoration: none;
  }
/* skills container*/

  .skills-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

    font-family: "Kumbh Sans", sans-serif;
  }
  .bar {
    background-color: #262626;
    padding: 1px;
    border-radius: 20px;
    margin-bottom: 30px;
    /* box-shadow: 10px 10px 5px #262626; */
    font-size: 10px;
    color: #fff;
    font-family: "Kumbh Sans", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .bar::before {
    content: attr(data-skill);
    background-color: #c2362c;
    display: inline-block;
    padding: 5px 0 5px 3px;
    border-radius: inherit;
    animation: load 2s 0s;
    /* -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s; */
  }

/* contact */

  .contact-me {
    width: 100%;

    margin-top: 50px;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
  }
}
